<%= stylesheet_link_tag 'title', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'a_index', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="title">
    <h1><%= title t 'everyone_todos.index.title' %></h1>
    <div class='search_form'>
      <%= form_with url: todos_path, method: :get, local: true do |f| %>
        <%= f.text_field :q, placeholder: "場所", value: " " %>
        <%= f.hidden_field :index_type, value: 'everyone' %>
        <%= f.submit class:'search_btn' %>
      <% end %>
    </div>
</div>

<div class="card_container">
  <% @todos.each do |todo| %>
    <div class="card">
      <div class="card-top">
        <%= render 'everyone_todos/card_top', todo: todo  %>
      </div>
    
      <div class="card-down">
        <%= render 'everyone_todos/card_down', todo: todo  %>
      </div>
    </div>
  <% end %>
</div>

<div class="pagenate">
  <%= paginate @todos, theme: 'twitter-bootstrap-4' %>
</div>