<% description 'ユーザー設定ページ 今できるTodoでリスト抽出対処とする、現在地からの距離の設定ができます' %>
<% keywords 'ユーザー設定, 設定, 距離設定, spoTodo' %>

<%= stylesheet_link_tag 'title', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'user/edit', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="title">
    <h1><%= title t '.title' %></h1>
</div>

<div class="container-mid">   
  <%= form_with url: usersetting_path, local: true do |f| %>
    <div class="form-group container-sm">
      <h4><%= t '.distance' %></h4>
      <p>今できるto doは？(現在地近くでできるTodoリストの作成)の対象とする<br>
        現在位置からのTodoの距離を変更できます<br><br>
        例）1km → 1km以内でできるTodoを現在地近くでできるTodoとする</p><br>
      <%= f.select :distance, [['1km', 0.621371], ['3km', 1.86411], ['5km', 3.10686], ['10km', 6.21371]], { selected: current_user.distance}, class: "form-control" %>
    <%= f.submit t('.update'), class:"submit-btn" %>
    </div>
  <% end %>

  <div class="container-sm">
    <h4><%= t '.logout' %></h4>
    <%= link_to logout_path, method: :delete, class:"logout-btn" do t('.logout') end %>
  </div>
  
</div>

