    <%= stylesheet_link_tag 'shared/sidebar', media: 'all', 'data-turbolinks-track': 'reload' %>

    <% if current_user %>
        <div class="logo">
            <div class="nav-item logo-item"><%= link_to todos_path do image_tag 'spotodo_logo_white.png', width: '70%' end %></div>
        </div>
        <div class="top">
            <ul class="nav nav-pills nav-stacked ">
                <li class="nav-item"><a class="nav-link" href="/todos/new"><%= t 'todos.new.title' %></a></li>
                <li class="nav-item"><a class="nav-link" href="/todos"><%= t 'todos.index.title' %></a></li>
                <li class="nav-item"><a class="nav-link" href="/currentlocations/new"><%= t 'currentlocations.new.title' %></a></li>
                <li class="nav-item"><a class="nav-link" href="/everyonetodos"><%= t 'everyone_todos.index.title' %></a></li>
            </ul>
        </div>

        <div class="bottom">
            <ul class="nav nav-pills nav-stacked">
                <div class="nav-item setting-btn"><%= link_to usersetting_path do image_tag 'gear-solid.svg',width: '50px', height: '50px' end %></div>
                    <li class="nav-item"><a class="nav-link" href="/privacy_policy"><%= t 'shared.sidebar.privacy_policy' %></a></li>
                    <li class="nav-item"><a class="nav-link" href="/terms_of_service"><%= t 'shared.sidebar.terms_of_service' %></a></li>
                    <li class="nav-item"><a class="nav-link" href="/ask"><%= t 'shared.sidebar.ask' %></a></li>
            </ul>
         </div>

    <% else %>

        <div class="logo">
            <div class="nav-item logo-item"><%= link_to root_path do image_tag 'spotodo_logo_white.png', width: '70%' end %></div>
        </div>
        <div class="top"> 
            <ul class="nav nav-pills nav-stacked">
                <li class="nav-item login"><a class="nav-link" href="/login"><span><%= t 'shared.sidebar.login' %></span></a></li>
            </ul>
        </div>
        <div class="bottom">
            <ul class="nav nav-pills nav-stacked">
                <li class="nav-item"><a class="nav-link" href="/privacy_policy"><%= t 'shared.sidebar.privacy_policy' %></a></li>
                <li class="nav-item"><a class="nav-link" href="/terms_of_service"><%= t 'shared.sidebar.terms_of_service' %></a></li>
                <li class="nav-item"><a class="nav-link" href="/ask"><%= t 'shared.sidebar.ask' %></a></li>
            </ul>
        </div>
        
    <% end %>

