<%= stylesheet_link_tag 'title', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'a_index', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="title">
  <h1><%= title t 'achieved_todos.index.title' %></h1> 
  
  <div class="my_todo">
    <%= link_to todos_path do %>
      <%= image_tag 'list-solid.svg',width: '18px', height: '15px' %> <%= t('todos.index.title') %>
    <% end %>
  </div>

  <div class='search_form'>
    <%= search_form_for @q, url: achievedtodos_path do |f| %>
      <%= f.search_field :name_cont, placeholder:"場所", class:'form' %>
      <%= f.submit class:'search_btn' %>
    <% end %>
  </div>
</div>

<div class="card_container">
  <% if @a_todos.empty? %>
    <%= render 'none' %>
  <% else %>
    <% @a_todos.each do |todo| %>
        <div class="card">
          <div class="card-top">
            <%= render 'achieved_todos/card_top', todo: todo %>
          </div>
        
          <div class="card-down">
            <%= render 'achieved_todos/card_down', todo: todo  %>
          </div>
        </div>
    <% end %>
  <% end %>
</div>



