<%= stylesheet_link_tag 'title', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'a_index', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="title">
  <h1><%= title t 'achieved_todos.index.title' %></h1> 
  
  <div class="my_todo">
    <%= link_to todos_path do %>
      <%= image_tag 'list-solid.svg',width: '18px', height: '15px' %> <%= t('todos.index.title') %>
    <% end %>
  </div>

  <div class='search_form'>
    <%= form_with url: todos_path, method: :get, local: true do |f| %>
      <%= f.text_field :q, placeholder: "場所", value: " ", class: 'form' %>
      <%= f.hidden_field :index_type, value: 'achieved' %>
      <%= f.submit '検索', class:'search_btn' %>
    <% end %>
  </div>
</div>

<div class="card_container">
  <% if @todos.empty? %>
    <%= render 'none' %>
  <% else %>
    <% @todos.each do |todo| %>
        <div class="card">
          <div class="card-top">
            <%= render 'achieved_todos/card_top', todo: todo %>
          </div>
        
          <div class="card-down">
            <%= render 'achieved_todos/card_down', todo: todo  %>
          </div>
        </div>
    <% end %>
  <% end %>
</div>



