<%= stylesheet_link_tag 'title', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'todo/form', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'todo/edit', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="title">
    <h1><%= title t 'todos.edit.title' %></h1>
</div>

<%= form_with(model: @todo_spot, url: todo_path, method: :put, local: true) do |f| %>
    <div>
        <div class="todo">
            <%= f.label :content, t('.what')  %></br>
            <div class="todo_form">
                <span><%= f.text_field :content, value: @todo.content, placeholder:"TVで見た幻のプリンを食べる", id:"todo_content" %></span></div>
            </div>
        </div>

        <div class="spot">
            <%= f.label :name, t('.where') %></br>
            <p style="color:orange">※場所を入力後、必ず「検索」ボタンを押して結果から選択してください。</p>
            <div class="spot_form">
                <span><%= f.text_field :name, value: @spot.name, placeholder:"○×カフェ", id:"spot_name" %></span>
                <div class="search_margin"><input type="button" value=<%= t('.search') %> class="search" onclick="getAddress()">
            </div>
        </div>

        <div class="result">

            <div id="map"></div>

            <div class="spot_result">

                <div class="spot_group_container" data-toggle="buttons">
                
                <p style="font-weight: bold;">場所を選択してください</p>
                    <div class="spot_group">
                        <label class="btn btn-primary" id="btnlabel0">
                            <%= f.radio_button :spot_group,0, {checked: true} %>
                            <%= f.hidden_field :name_0, id:"result_name_0" %>
                            <%= f.hidden_field :address_0, id:"result_address_0" %>
                            <%= f.hidden_field :latitude_0, id:"result_latitude_0" %>
                            <%= f.hidden_field :longitude_0, id:"result_longitude_0" %>

                            <div class="result_name" id="visible_result_name_0"></div>
                            <div class="result_address" id="visible_result_address_0"></div>
                        </label>
                    </div>

                    <div class="spot_group">
                        <label class="btn btn-primary" id="btnlabel1">
                            <%= f.radio_button :spot_group, 1, {} %>
                            <%= f.hidden_field :name_1, id:"result_name_1" %>
                            <%= f.hidden_field :address_1, id:"result_address_1" %>
                            <%= f.hidden_field :latitude_1, id:"result_latitude_1" %>
                            <%= f.hidden_field :longitude_1, id:"result_longitude_1" %>

                            <div class="result_name" id="visible_result_name_1"></div>
                            <div class="result_address" id="visible_result_address_1"></div>
                        </label>
                    </div>

                    <div class="spot_group">
                        <label class="btn btn-primary" id="btnlabel2">
                            <%= f.radio_button :spot_group, 2, {} %>
                            <%= f.hidden_field :name_2, id:"result_name_2" %>
                            <%= f.hidden_field :address_2, id:"result_address_2" %>
                            <%= f.hidden_field :latitude_2, id:"result_latitude_2" %>
                            <%= f.hidden_field :longitude_2, id:"result_longitude_2" %>

                            <div class="result_name" id="visible_result_name_2"></div>
                            <div class="result_address" id="visible_result_address_2"></div>
                        </label>
                    </div>        
                </div>
            </div>

        </div>

        <div class="public">
            <%= f.label :public, t('.public_check') %>
            <%= f.check_box :public, id:'public_check', checked: false%>
        </div>

        <div>
            <%= f.hidden_field :user_id, value: current_user.id %>
        </div>

        <div class="submit">
            <%= f.submit t('.update'), class:"submitーbtn" %>
        </div>
<% end %>

<script>
document.addEventListener('turbolinks:load', function() {
    getPlace();
  });
</script>
