<%= stylesheet_link_tag 'title', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'todo/form', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'todo/edit', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="title">
    <h1><%= title t 'todos.edit.title' %></h1>
</div>

    <%= form_with model:@todo, local: true do |f| %>
            <div class="todo">
                <%= f.label :content, t('.what')  %></br>
                <div class="todo_form">
                	<span><%= f.text_field :content,value: @todo.content, placeholder:"TVで見た幻のプリンを食べる", id:"todo_content" %></span></div>
            	</div>
            </div>

            <div class="spot">
                <%= f.label :name, t('.where') %></br>
                <p style="color:orange">※場所を入力後、必ず「検索」ボタンを押してmapで確認してください。</p>
                <div class="spot_form">
                    <span><%= f.text_field :name, value: @todo.spot.name, placeholder:"○×カフェ", id:"spot_name" %></span>
                    <div class="search_margin"><input type="button" value=<%= t('.search') %> class="search" onclick="getAddress()">
                </div>
            </div>

            <div class="public">
                <%= f.label :public, t('.public_check') %>
                <%= f.check_box :public, id:'public_check', value: @todo.public %>
            </div>

            <div>
                <%= f.hidden_field :address, value: @todo.spot.address, id: "spot_address" %>
            </div>
            
            <div>
                <%= f.hidden_field :latitude, value: @todo.spot.latitude, id:"spot_lat" %>
                <%= f.hidden_field :longitude, value: @todo.spot.longitude, id:"spot_lon"%>
                <%= f.hidden_field :current_user_id, value: current_user.id %>
            </div>
            
            <div class="map_submit">
            	<%= render 'todos/map' %>
        		<%= f.submit t('.update'), class:"submitーbtn" %>
              </div>
    <% end %>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.dig(:googlemap, :api_key) %>&libraries=places&callback=initMap">
</script>
