<div class="title">
    <h1>Edit Todo</h1>
</div>

<div class="container-mid">
<%= form_with model:@todo, local: true do |f| %>
    <div class="field">
        <div class="todo">
            <%= f.label :content, "何をしたい？" %></br>
            <span><%= f.text_field :content,value: @todo.content, style: "width:60vh", placeholder:"TVで見た幻のプリンを食べる" %></span>
        </div>

        <div class="spot">
            <%= f.label :name, "どこで？" %></br>
            <p style="color:#F2C67F">※場所を入力後、必ず「検索」ボタンを押してmapで確認してください。</p>
            <div style="display:inline-flex">
                <span><%= f.text_field :name, value: @todo.spot.name, style: "width:52vh", placeholder:"○×カフェ", id:"spot_name" %></span>
                <input type="button" value="検索" class="search" onclick="getAddress()">
            </div>
        </div>
        <div>
            <%= f.hidden_field :address, value: @todo.spot.address, id: "spot_address" %>
        </div>
        <div>
            <%= f.hidden_field :latitude, value: @todo.spot.latitude, id:"spot_lat" %>
            <%= f.hidden_field :longitude, value: @todo.spot.longitude, id:"spot_lon"%>
            <%= f.hidden_field :current_user_id, value: current_user.id %>
        </div>
        <%= render 'todos/map' %>
    <%= f.submit "更新", class:"submitbtn" %>
<% end %>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.dig(:googlemap, :api_key) %>&libraries=places&callback=initMap">
</script>

<style>
.title{
  position: relative;
  height: 10vh;
  width:100vh;
}

h1{
  position: absolute; 
  display: inline-block; 
  bottom: 0;
}
span input {
  display: block;
  border:1px #D4DEDD solid;
  padding: 0.5em 0.5em;
  border-radius: 10px;
  color: #5C6060;
  height: 5vh;
}

.search{
    margin-left: 10px;
    width:70px;
    height :5vh;
    padding: 0.5em 0.1em;
    border:1px #D4DEDD solid;
    border-radius: 10px;
}

.container-mid{
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo,.spot{
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.submitbtn{
    display: block;
    border-radius: 100vh;
    margin: 0 auto;
    height: 7vh;
    width: 20vh;
    background-color: #F2C67F;
    border:none;
    color: white;
    font-size: 16px;
}

</style>
