<%= stylesheet_link_tag 'title', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'index', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'todo/index', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="title">
  <h1><%= title t 'todos.index.title' %></h1>

  <div class="checked_todo">
    <%= link_to achievedtodos_path do %>
      <%= image_tag 'user-check-solid.svg',width: '18px', height: '18px' %> 実行できたTodoとレビュー
    <% end %>
  </div>

  <div class='search_form'>
    <%= search_form_for @q, url: todos_path do |f| %>
      <%= f.search_field :name_cont, placeholder:"場所", class:'form' %>
      <%= f.submit class:'search_btn' %>
    <% end %>
  </div>
</div>

<div class="container">
  <% if @spots.empty? %>
      <%= render 'none' %>
    <% else %>
      <% @spots.each do |spot| %>
        <% if spot.todos.any? { |t| !t.finished && t.user_id == current_user.id } %>
          <%= render 'todo_card', spot: spot %>
        <% end %>
      <% end %>
    <% end %>
</div>

<div class="plus_icon">
  <%= link_to new_todo_path do %>
    <%= image_tag 'circle-plus-solid.svg',width: '50px', height: '50px' %>
  <% end %>
</div>

<div class="pagenate">
  <%= paginate @spots, theme: 'twitter-bootstrap-4' %>
</div>
