<%= stylesheet_link_tag 'title', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'index', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'currentlocation/recommend_index', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="title">
  <h1><%= title t ('.title') %></h1>
  
  <div class='search_form'>
    <%= search_form_for @q, url: currentlocations_path do |f| %>
      <%= f.search_field :name_cont, placeholder:"場所", class:'form' %>
      <%= f.submit class:'search_btn' %>
    <% end %>
  </div>

</div>

<div class="container">

  <% if @spots.empty? %>
    <%= render 'none' %>
  <% else %>
    <% @spots.each do |spot| %>
      <%= render 'todo_card', spot: spot if spot.todos.any? { |t| !t.finished } %>
    <% end %>
  <% end %>

</div>

<div class="container recommend_container">
  <div class="container recommend_title_comment">
    <p>みんなのTodoからおすすめのTodoをピックアップしました！<br>やってみませんか？</p>
  </div>

  <% @recommend.each do |todo| %>
    <div class="recommend_card">
      <div class="recommend_card-top">
        <%= render 'card_top', todo: todo  %>
      </div>
    
      <div class="recommend_card-down">
        <%= render 'card_down', todo: todo  %>
      </div>
    </div>
  <% end %>
</div>

<div class="pagenate">
  <%= paginate @spots, theme: 'twitter-bootstrap-4' %>
</div>