<%= stylesheet_link_tag 'title', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'currentlocation/new', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="title">
    <h1><%= title t ('.title') %></h1>
</div>

<div class="container-mid">
    <div class="content">
        <p>現在地を取得すると、My Todoから今いる場所で出来るTodoをリストアップします。</br></br>※ボタンを押した後、しばらくお待ちください</br>※ブラウザで現在地取得、ポップアップを許可してください</br>※設定よりリストにピックアップされる距離範囲の設定ができます</p>
    </div>
    
    <button type="button" class="get-current-position-btn"><%= t ('.get') %></button>
    <button type="button" class="check-list-btn" onclick="location.href='/currentlocations'"><%= t ('.check') %></button>
    
    <div class="qr">
        <p>外出先ではLINEから現在地送信 <%= image_tag 'location-dot-solid.svg', width: "15px;" %><br>「spoTodo」を友達追加</p>
        <%= image_tag 'qr.png', width: "150px;" %>
    </div>
</div>