<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags site: "spoTodo" %>
    <%= favicon_link_tag('favicon.ico') %>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= display_meta_tags(default_meta_tags) %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
  </head>

  <body>
  <div class="container-fluid">
    <div class="row">
        <!-- 2列 サイドバー -->
        <div class="col-lg-2">
          <%= render partial: 'shared/sidebar' %>
        </div>

        <!-- 1列 サイドバー モバイル -->
        <div class="col-lg-1">
          <%= render partial: 'shared/mobile_sidebar' %>
        </div>

        <!-- 10列 コンテンツ表示 -->
        <div class="col-lg-10 col-lg-offset-2 main_contents">
          <%= render partial: 'shared/flash_message' %>
          <div class="container">
            <%= yield %>
          </div>
        </div>

    </div>
  </div>
  </body>
  
</html>

<script>
// リロード時
$(function() {
  // ウィンドウサイズ768px以下の場合、クラスを削除
  if (window.matchMedia( '(max-width: 960px)' ).matches) {
  $(function(){
    $('main_contents').removeClass('col-lg-10');
    $('.main_contents').addClass('col-lg-11');
    $('main_contents').removeClass('col-lg-offset-2');
    $('main_contents').addClass('col-lg-offset-1');
  });
    } else {
      $('main_contents').removeClass('col-lg-11');
      $('.main_contents').addClass('col-lg-10');
      $('main_contents').removeClass('col-lg-offset-1');
      $('main_contents').addClass('col-lg-offset-2');
  };
});

// リサイズ時
$(window).resize(function(){
  let x = $(window).width();
  let y = 960;
  if (x <= y) {
    $('main_contents').removeClass('col-lg-10');
    $('.main_contents').addClass('col-lg-11');
    $('main_contents').removeClass('col-lg-offset-2');
    $('main_contents').addClass('col-lg-offset-1');
  }
  else {
    $('main_contents').removeClass('col-lg-11');
    $('.main_contents').addClass('col-lg-10');
    $('main_contents').removeClass('col-lg-offset-1');
    $('main_contents').addClass('col-lg-offset-2');
  }
});
</script>