<!DOCTYPE html>
<html>
  <head>
    <title>SpoTodo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <div class="container-fluid">
    <div class="row">
        <!-- 2列 サイドバー -->
        <div class="col-lg-2">
          <%= render partial: 'shared/sidebar' %>
        </div>

        <!-- 1列 サイドバー モバイル -->
        <div class="col-lg-1">
          <%= render partial: 'shared/mobile_sidebar' %>
        </div>

        <!-- 10列 コンテンツ表示 -->
        <div class="col-lg-10 col-lg-offset-2 col-lg-offset-1">
          <%= render partial: 'shared/flash_message' %>
          <div class="container">
            <%= yield %>
          </div>
        </div>

    </div>
  </div>
  </body>
  
</html>
